In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import joblib
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [2]:
#Dataset contains 48 patients data
data=pd.read_csv('LIVER-PATIENT-DATA.csv')
data.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,70,Male,2.7,1.2,365,62,55,6.0,2.4,0.6,1
1,36,Male,2.8,1.5,305,28,76,5.9,2.5,0.7,1
2,42,Male,0.8,0.2,127,29,30,4.9,2.7,1.2,1
3,53,Male,19.8,10.4,238,39,221,8.1,2.5,0.4,1
4,32,Male,30.5,17.1,218,39,79,5.5,2.7,0.9,1

In [3]:
#Replace Male as 1 and Female as 0
data.loc[data['Gender'] == 'Male', 'Gender'] = 1 
data.loc[data['Gender'] == 'Female', 'Gender'] = 0
data['Gender'].value_counts()

1    38
0    10
Name: Gender, dtype: int64

In [4]:
data['Dataset'].value_counts()

1    36
2    12
Name: Dataset, dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         48 non-null     int64
 1   Gender                      48 non-null     object
 2   Total_Bilirubin             48 non-null     float64
 3   Direct_Bilirubin            48 non-null     float64
 4   Alkaline_Phosphotase        48 non-null     int64
 5   Alamine_Aminotransferase    48 non-null     int64
 6   Aspartate_Aminotransferase  48 non-null     int64
 7   Total_Protiens              48 non-null     float64
 8   Albumin                     48 non-null     float64
 9   Albumin_and_Globulin_Ratio  48 non-null     float64
 10  Dataset                     48 non-null     int64
dtypes: float64(5), int64(5), object(1)
memory usage: 4.2+ KB

In [6]:
data.groupby('Dataset').mean()

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio
Dataset,,,,,,,,,
1,46.805556,9.319444,4.616667,250.694444,71.361111,142.555556,6.700000,2.877778,0.755556
2,46.166667,0.883333,0.266667,195.000000,31.250000,33.250000,7.133333,3.466667,0.916667

In [7]:
data.describe()

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
count,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000
mean,46.645833,7.210417,3.529167,236.770833,61.333333,115.229167,6.808333,3.025000,0.795833,1.250000
std,11.868947,9.919811,5.043511,87.472121,77.029791,147.954024,1.208099,0.753291,0.247505,0.437595
min,10.000000,0.600000,0.100000,97.000000,12.000000,15.000000,3.600000,1.000000,0.300000,1.000000
25%,40.000000,0.875000,0.200000,187.250000,24.000000,28.000000,5.975000,2.500000,0.675000,1.000000
50%,46.000000,1.750000,0.800000,216.500000,40.000000,53.500000,6.950000,3.000000,0.800000,1.000000
75%,54.250000,11.000000,5.700000,288.250000,67.250000,161.500000,7.600000,3.625000,1.000000,1.250000
max,70.000000,32.600000,18.300000,466.000000,509.000000,630.000000,9.200000,4.600000,1.200000,2.000000

In [8]:
A = data.drop(columns='Dataset', axis=1)
B = data['Dataset']
A_train, A_test, B_train, B_test = train_test_split(A, B, test_size=0.35, stratify=B, random_state=5)

In [9]:
from sklearn.ensemble import GradientBoostingClassifier
GBCModel = GradientBoostingClassifier()
GBCModel.fit(A_train, B_train)

GradientBoostingClassifier()

In [10]:
A_train_predict = GBCModel.predict(A_train)
train_accuracy = accuracy_score( np.round(abs(A_train_predict)), B_train )

A_test_predict = GBCModel.predict(A_test)
test_accuracy = accuracy_score(np.round(abs(A_test_predict)) ,B_test)

print('Training data Accuracy: ', train_accuracy*100 ,'%')
print('Test data Accuracy: ', test_accuracy*100 ,'%')

Training data Accuracy:  100.0 %
Test data Accuracy:  58.82352941176471 %

In [11]:
from sklearn.ensemble import GradientBoostingRegressor
GBRModel = GradientBoostingRegressor(random_state=5)
GBRModel.fit(A_train, B_train)

GradientBoostingRegressor(random_state=5)

In [12]:
A_train_predict = GBRModel.predict(A_train)
train_accuracy = accuracy_score( np.round(abs(A_train_predict)), B_train )

A_test_predict = GBRModel.predict(A_test)
test_accuracy = accuracy_score(np.round(abs(A_test_predict)) ,B_test)

print('Training data Accuracy: ', train_accuracy*100 ,'%')
print('Test data Accuracy: ', test_accuracy*100 ,'%')

Training data Accuracy:  100.0 %
Test data Accuracy:  58.82352941176471 %

In [13]:
joblib.dump(GBCModel,'GBCLiver.pkl')

['GBCLiver.pkl']

In [14]:
joblib.dump(GBRModel,'GBRLiver.pkl')

['GBRLiver.pkl']

In [15]:
GBCLiver=joblib.load('GBCLiver.pkl')
GBRLiver=joblib.load('GBRLiver.pkl')
input_data = (1,60,0.5,1.8,45,201,3.9,25,0.7,1.7)

# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)
# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

In [16]:
import warnings
warnings.filterwarnings("ignore")
PredictGBCLiver = GBCLiver.predict(input_data_reshaped)
PredictGBRLiver= GBRLiver.predict(input_data_reshaped)
if (PredictGBCLiver[0]== 0):
  print('Non Liver Patient ')
else:
  print('Liver Patient')

print('Possiblility : ',PredictGBRLiver[0] ,'%')

Liver Patient
Possiblility :  0.942401131163028 %